service: appsyncmasterclass-backend
frameworkVersion: "3"

plugins:
  - serverless-appsync-plugin
  - serverless-iam-roles-per-function
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-west-2 
  stage: 'dev'
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
    STAGE: ${self:custom.stage}
    REGION: ${self:provider.region}

package:
  individually: true
  excludeDevDependencies: true
  exclude: 
    - .git/**
    - .github/**
    - .vscode/**
    - node_modules/@aws/**
    - node_modules/**/test/**
    - node_modules/**/tests/**
    - node_modules/**/__tests__/**
    - node_modules/**/*.md
    - node_modules/**/*.ts
    - node_modules/**/README*
  
custom:
  stage: ${opt:stage, self:provider.stage}
  analytics:
    glueDb: ${self:service}_${self:custom.stage}_analytics
    glueCrawler: ${self:service}_${self:custom.stage}_analytics
    athena: appsyncmasterclass-analytics
  webpack:
    webpackConfig: ./webpack.config.js
    mode: production
    packager: npm
    generateStatsFiles: true
    keepOutputDirectory: true
    stats: true
  appSyncLogLevel:
    default: ALL
    prod: ERROR

appSync: ${file(./serverless/appsync-${self:custom.stage}.yml)}


functions: ${file(./serverless/functions.yml)}
  
resources:
  - ${file(./serverless/cognito.yml)}
  - ${file(./serverless/dynamodb.yml)}
  - ${file(./serverless/analytics.yml)}
  - Resources:
      AssetsBucket:
        Type: AWS::S3::Bucket
        Properties:
          PublicAccessBlockConfiguration:
            BlockPublicAcls: true
            BlockPublicPolicy: true
            IgnorePublicAcls: true
            RestrictPublicBuckets: true
          VersioningConfiguration:
            Status: Enabled
          CorsConfiguration:
            CorsRules:
              - AllowedMethods:
                  - GET
                  - PUT
                  - HEAD
                Id: CORSRuleId1
                AllowedOrigins:
                  - "http://localhost:5173" # TODO: remove for prod deplyments
                AllowedHeaders:
                  - "*"
                MaxAge: 300 # cache preflight response in secs, 5m
      AppSyncLoggingServiceRole:
        Type: AWS::IAM::Role
        Properties:
          AssumeRolePolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Principal:
                  Service: appsync.amazonaws.com
                Action: sts:AssumeRole
          Path: /service-role/
          Policies:
            - PolicyName: root
              PolicyDocument:
                Version: '2012-10-17'
                Statement:
                  - Effect: Allow
                    Action: 
                      - logs:CreateLogGroup
                      - logs:CreateLogStream
                      - logs:PutLogEvents
                    Resource: 
                      - !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/appsync/apis/*
  - Outputs:
      CgUserPoolId:
        Description: "Cognito User Pool ::"
        Value: !Ref CgUserPool
      CgClientWebId:
        Description: "Cognito Client Id (web) ::"
        Value: !Ref CgClientWeb
      UsersTable:
        Description: "DynamoDB (UsersTable) ::"
        Value: !Ref UsersTable
      TweetsTable:
        Description: "DynamoDB (TweetsTable) ::"
        Value: !Ref TweetsTable
      TimelinesTable:
        Description: "DynamoDB (TimelinesTable) ::"
        Value: !Ref TimelinesTable
      AppsyncMasterclassHTTPUrl:
        Description: "AppSync http url ::"
        Value: ${appsync:url}
      AssetsBucket:
        Description: "S3 assets bucket ::"
        Value: !Ref AssetsBucket
      RetweetsTable:
        Description: "DynamoDB (RetweetsTable) ::"
        Value: !Ref RetweetsTable
      TweetLikesTable:
        Description: "DynamoDB (TweetLikesTable) ::"
        Value: !Ref TweetLikesTable
      CgUserPoolProviderName:
        Value: !GetAtt CgUserPool.ProviderName
      CgIdentityPoolId:
        Value: !Ref CgIdentityPool
      FirehoseStreamName:
        Value: !Ref FirehoseStream
