#set( $exp = "SET #name = :name" )
#set( $expNames = {"#name":"name"} )
#set( $expValues = {":name": {"S": $ctx.args.newProfile.name}} )

#set( $optionalParams = {
    "imgUrl": { "type": "S", "value": $ctx.args.newProfile.imgUrl },
    "bgImgUrl": { "type": "S", "value": $ctx.args.newProfile.bgImgUrl },
    "bio": { "type": "S", "value": $ctx.args.newProfile.bio },
    "location": { "type": "S", "value": $ctx.args.newProfile.location },
    "website": { "type": "S", "value": $ctx.args.newProfile.website },
    "birthdate": { "type": "S", "value": $ctx.args.newProfile.birthdate }
} )

#foreach( $param in $optionalParams.entrySet() )
    #if( $ctx.args.newProfile.containsKey($param.key) )
        #set( $exp = "$exp, #${param.key} = :${param.key}" )
        $!{expNames.put("#${param.key}", "${param.key}")}
        $!{expValues.put(":${param.key}", {"${param.value.type}": $param.value.value})}
    #end
#end

{
    "version": "2018-05-29",
    "operation": "UpdateItem",
    "key": {
        "id" : $util.dynamodb.toDynamoDBJson($ctx.identity.username)
    },
    "update": {
        "expression": "$exp",
        "expressionNames": $util.toJson($expNames),
        "expressionValues": $util.toJson($expValues)
    },
    "condition" : {
        "expression" : "attribute_exists(id)"
    },
}
